$sky-lightest: #f1f5fa;
$sky-light: #b9c6d7;
$sky: #859bb9;
$sky-dark: #4c6688;
$sky-darkest: #1e3c63;

$paris-lightest: #a7a5c9;
$paris-light: #575493;
$paris: #2c275f;
$paris-dark: #09072e;
$paris-darkest: #030322;

$neutral-lightest: $sky-lightest;
$neutral-light: $sky-light;
$neutral: $sky;
$neutral-dark: $sky-dark;
$neutral-darkest: $sky-darkest;

$brand-01-lightest: $paris-lightest;
$brand-01-light: $paris-light;
$brand-01: $paris;
$brand-01-dark: $paris-dark;
$brand-01-darkest: $paris-darkest;
